*{
    margin:0;
    padding:0;
    list-style:none;
    font-size:.14rem;
    font-family: "楷体";
    text-decoration: none;
}
body,html,.wrap{
    width:100%;
    height:100%;
    overflow: hidden;
}
html{
    font-size:625%;
}
.wrap{
    display:flex;
    flex-direction: column;
}
.header{
    width:100%;
    height:.5rem;
    display:flex;
}
.header span{
    display:flex;
    align-items: center;
    justify-content: center
}
.header span:nth-child(2){
    flex:1;
}
.header span:nth-child(2){
    flex:1;
}
.header span:nth-child(2) input{
    width:80%;
    height:.4rem;
    border:none;
    text-align: center;
   background: #eff2f6;
} 
.header span:nth-child(2){
    flex:1;
   
}
.section{
    flex:1;
     overflow-y: scroll;
}
.section ul{
    width:100%;
    height:.6rem;
     line-height: .6rem;
     text-align: center;
    border-bottom:1px solid #ccc;
}
.section ul li{
    width:20%;
    float:left;
    font-size:.18rem;
   
}
.section .cont{
    width:100%;
    height:auto
}
.section .cont dl{
    width:100%;
    height:1.5rem;
    position:relative;
}
.section .cont dl dt{
    position:absolute;
    left:.1rem;
    top:.25rem;
}
.section .cont dl dt img{
    width:1.2rem;
    height:auto;
}
.section .cont dl dd{
    margin-left:1.6rem;
    padding-top:.15rem;
    line-height: 2;
}
.section .cont{
    width:100%;
    height:100%;
}

.two{
    background: #cff;
    display: none;
}
.three{
    background: #fcc;
    display: none;
}
.four{
    background: #ccf;
    display: none;
}
.five{
    background:#ffc;
    display: none;
}